#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/input/keymap.h>
#include "../hid.overlay"

#include "nrf5x.overlay"

/ {

	/* Create a grouping for your custom LEDs */
	ext_leds {
		compatible = "gpio-leds";

		caps_lock_led: caps_lock_led {
			gpios = <&gpio1 14 GPIO_ACTIVE_LOW>;
			label = "External LED 0";
		};

		ext_led1: led_1 {
			gpios = <&gpio0 15 GPIO_ACTIVE_LOW>;
			label = "External LED 1";
		};

		ext_led2: led_2 {
			gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;
			label = "External LED 2";
		};

		pwr_on_led: pwr_on_led {
			gpios = <&gpio1 10 GPIO_ACTIVE_LOW>;
			label = "PWR LED";
		};

		usb_connected_led: usb_connected_led {
			gpios = <&gpio1 11 GPIO_ACTIVE_LOW>;
			label = "USB LED";
		};

		ble_connected_led: ble_connected_led {
			gpios = <&gpio1 12 GPIO_ACTIVE_LOW>;
			label = "BLE LED";
		};
	};
	
};

&usbd {
	status = "okay";
};